<div class="right_col" role="main">
    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>Operations page</h3>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Operation</h2>
                        <a href="operations/new" class="btn btn-primary pull-right">Add New</a>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <div class="dashboard-widget-content">
                            <ul class="list-unstyled timeline widget">
                                {{#each operations}}
                                <li>
                                    <div class="block">
                                        <div class="block_content">
                                            <div class="row">
                                                <div class="col-xs-8">
                                                    <h2 class="title">
                                                        <a href="operations/{{this.id}}">{{this.name}}</a>
                                                    </h2>
                                                </div>
                                                <div class="col-xs-4">
                                                    <span>Operation Progress</span>
                                                    <div class="progress progress_sm ">
                                                        <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="57" aria-valuenow="56" style="width: 100%;"></div>
                                                    </div>
                                                    <medium>100% Complete</medium>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <div class="row"> <button type="button" class="btn btn-dark btn-xs">{{this.status}}</button> </div>
                                                    <div class="row"> <span>Relief</span> </div>
                                                    <div class="row"> <a>Analytics & Reports </a> </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="row"> <span>No of regions: </span>{{this.operationRegions.length}}</div>
                                                    <div class="row"> <span>Total commodities: </span> </div>
                                                    <div class="row"> <span>Total beneficiaries: </span> </div>
                                                </div>
                                                <div class="col-md-3">
                                                    <div class="row"> <span>Start date: </span>{{formatDate this.expectedStart "short"}}</div>
                                                    <div class="row"> <span>End date: </span>{{formatDate this.plannedEnd "short"}}</div>
                                                </div>
                                                <div class="col-md-3" />
                                            </div>
                                            <div class="row">
                                                <div class="col-xs-8"> </div>
                                                <div class="col-xs-4 pull-right">
                                                     <a class="btn btn-success">
                                                        <i class="fa fa-edit"></i> View
                                                    </a>
                                                   
                                                    {{#equal this.status 'ongoing' }}
                                                    <!--if operation status is archived-->
                                                    <a href = "operations/{{this.id}}" class="btn btn-primary">
                                                        <i class="fa fa-edit"></i> Edit
                                                    </a>
                                                    <div class="btn btn-group">
                                                        <button type="button" class="btn btn-danger">Tasks</button>
                                                        <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                            <span class="caret"></span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="#">Request</a>
                                                            </li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">Allocation</a>
                                                            </li>
                                                            <li><a href="#">Dispatch</a>
                                                            </li>
                                                            <li class="divider"></li>
                                                            <li><a href="#">Close</a>
                                                            </li>
                                                        </ul>
                                                        </a>
                                                    </div>
                                                    {{/equal}}
                                                </div>
                                            </div>
                                        </div>
                                </li>
                               {{/each}}
                            </ul>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>